In [29]:
pip install chardet

Requirement already satisfied: chardet in c:\anaconda3\lib\site-packages (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [61]:
import chardet

# Detecta a codificação do arquivo
with open('rankingficticio.csv', 'rb') as f:
    result = chardet.detect(f.read())

# Resultado da detecção de codificação
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [64]:
import pandas as pd
from sqlalchemy import create_engine


source_file = 'rankingficticio.csv'
df = pd.read_csv(source_file, encoding='ISO-8859-1')

print(source_file)

rankingficticio.csv

In [70]:
import pandas as pd
import chardet

# Detecta a codificação do arquivo
with open('rankingficticio.csv', 'rb') as f:
    result = chardet.detect(f.read())

# Imprime a codificação detectada
print(result)

# Lê o arquivo CSV usando a codificação detectada
df = pd.read_csv('rankingficticio.csv', encoding=result['encoding'], sep=';', skip_blank_lines=True)

# Exibe as primeiras linhas do DataFrame
df.head()

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

             País  Ataques Cibernéticos em 2022 (milhares)  Ranking em 2022
0             NaN                                      NaN              NaN
1  Estados Unidos                                    350.0              1.0
2           China                                    300.0              2.0
3          Russia                                    250.0              3.0
4           Índia                                    200.0              4.0

In [71]:



# Exibe as primeiras linhas do DataFrame
df.head()

             País  Ataques Cibernéticos em 2022 (milhares)  Ranking em 2022
0             NaN                                      NaN              NaN
1  Estados Unidos                                    350.0              1.0
2           China                                    300.0              2.0
3          Russia                                    250.0              3.0
4           Índia                                    200.0              4.0

In [76]:
# Define os novos nomes das colunas
novos_nomes = ['PAÍS', 'ATAQUES CIBERNÉTICOS EM 2022 (milhares)', 'RANKING']

# Renomeia as colunas
df.columns = novos_nomes

In [77]:
# Exibe as primeiras linhas do DataFrame
df.head()

             PAÍS  ATAQUES CIBERNÉTICOS EM 2022 (milhares)  RANKING
0             NaN                                      NaN      NaN
1  Estados Unidos                                    350.0      1.0
2           China                                    300.0      2.0
3          Russia                                    250.0      3.0
4           Índia                                    200.0      4.0

In [78]:
db_engine = create_engine('sqlite:///dados.db')

In [79]:
df.to_sql('tabela_destino', db_engine, if_exists='replace', index=False)

11

In [82]:


# Passo 2: Extração de Dados

df = pd.read_csv('rankingficticio.csv', encoding=result['encoding'], sep=';', skip_blank_lines=True)




# Passo 4: Configuração do Destino

db_engine = create_engine('sqlite:///dados.db')



# Passo 5: Carregamento de Dados

df.to_sql('tabela_destino', db_engine, if_exists='replace', index=False)

11

In [83]:
df.head()

             País  Ataques Cibernéticos em 2022 (milhares)  Ranking em 2022
0             NaN                                      NaN              NaN
1  Estados Unidos                                    350.0              1.0
2           China                                    300.0              2.0
3          Russia                                    250.0              3.0
4           Índia                                    200.0              4.0